.App {
  text-align: center;
}

.Day-image {
  background-color: #99ffff;
}

.Night-image {
  background-color: #1a1a1a;
}

button {
  border-radius: 15px;
  margin-top: 150px;
}

button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  box-shadow: 2px 2px 5px grey;
}